.allergen-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    gap: 15px; /* Space between items */
    padding: 8px;
  }
  
  .allergen-item {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .allergen-image {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .allergen-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
  }
  
  .allergen-details span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
  }
  
  .allergen-details svg {
    flex-shrink: 0;
  }
  